<header>
    
    <nav class="navbar navbar-expand navbar-light bg-primary m-3 p-2">
        <a class="navbar-brand text-white" href="/">EJS</a>
        <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item"><a href="/" class="nav-link active text-white">Home</a></li>
            <li class="nav-item"><a href="/sobre" class="nav-link active text-white">About</a></li>
        </ul>
    </nav>

    <p class="m-3">Página: <%= typeof pagina != 'undefined' ? pagina: 'Home' %> </p>
</header>