<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="bg-secondary text-white p-5 rounded-lg m-3">
            <h1 class="display-4">Sobre mim</h1>
            <p class="lead">Meu nome é Sidney Campos, estou aprendendo a desenvolver!</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>